FASTAPI
uvicorn[standard]
psycopg2-binary
python-dotenv
pydantic
email-validator
requests
minio
pymilvus
sentence-transformers
python-multipart
strawberry-graphql[fastapi]
pdfplumber
pdf2image
pytesseract
Pillow
PyJWT==2.8.0
redis
aio-pika
passlib
bcrypt==3.2.2
authlib
httpx
itsdangerous
